* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: #000000;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Menu-nav {
    padding: 20px;
    display: flex;
    gap: 50px;
    justify-content: space-evenly;
    align-items: center;
}
.item-nav {
    font-size: 24px;
}

main {
    height: 100vh;
    
}

footer {
    color: white;
    font-size: 24px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 50px;
}